<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<title>Vernon Web Designs</title>
</head>




    <body-extra-1>
   

        <div class="container-extra-1">
            <img class="image-extra-1" src="/static/vernon-logo-1-03.png" alt="image" >
        </div>


        <div class="intro-text-container portfolio-heading">
            <p class="intro-text"> This is a photo of my mom and her brother circa 1974. My grandma had dressed them up for a sunday morning breakfast. This photo always makes me smile. It reminds me of the people who shaped me. My love for design, seemingly intertwined with my grandmother's attention to detail and love for fashion. And of course, my mother, who nicknamed me Vernon and always told me that everything I did was absolutely beautiful. 
             </p>
        </div>

            
        

    </body>










<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

</html>