<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
<title>Title</title>
</head>
<body>


    {% extends 'base.html' %}

    {% block content %}


    <div class= "heroImage">
        <div class="heroContents">

            <img class="phone opacity-50" src="/static/index-collage.png" height="100%" width="100%">
            
            <div class="hero-title">
                <h2 class="word-spacing-1 celine-peach font-size-5">Welcome,</h2>
                <p class="font-size-2 everson">Allow me to introduce myself</p>
            </div>
        </div>
    </div>

    <div class="intro-container">

        <div class="flexbox-row">
            <p class="font-size-1-2"> My name is</p>
            <h2 class=" margin-1 emerson">Alexa</h2>
        </div>

        <div class="flexbox-row center margin-top margin-bottom">
            <p class="" >I am a</p>
            <h2 class="margin-1">front-end developer</h2>
        </div>

        <p class="margin-1 margin-top">who specializes in </p>
        <h2 class="margin-3">design + branding. </h2>

    </div>

    <div class="container center">
        <img class="phone image-border margin-3 padding-1 opacity-50" src="/static/Screen Shot 2022-04-28 at 5.29.59 PM.png" height="50%" width="50%">
        <p class="phone  margin-3 margin-top">Project Description Coming Soon</p>
    </div>

    <div class="intro-text-container portfolio-heading">
        <p class="intro-text"><span class="first-letter">Design</span> showcases the value of your business and communicates a level of luxury service. 
        The best websites are designed with a strategic brand as the foundation. 
        Web Design is more than fonts and colors, it’s building a brand based on strategy that communicates the 
        <span class="first-letter">value of your business</span>. </p>
    </div>



    <div class="flexbox-row center">
        <h2>Services Available</h2>
    </div>


    <div class="flex column center">
        <p>UX Design</p>
        <p>Front-end Development</p>
        <p>Logo & LogoMarks</p>
        <p>Company Name Ideation</p>
        <p>Color Palettes</p>
        <p>Font Pairings</p>
    </div>











    

</div>


    {% endblock content %}

    




     
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>